  body{
  background-color: #CDFCF6;
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-width:3px;
    width: 90%;
  }
  h1{
    color: orange;
  }
h2{
  color: red;
}
h3{
  color: green;
}
